@model MVC.Models.UserModel

@{
    ViewBag.Title = "ViewProfile";
}
    <style>

        .text {
            text-align: center;
        }
    </style>

<h2 class="text">@Model.Nickname Profile</h2>

@foreach (var postId in Model.PostsId)
{

    <div>
        <a href=@($"/post/getpost/{postId}")>ViewPost</a>

    </div>
}

<div>
    <dl class="dl-horizontal">
        <dt>

        </dt>

        <dd>
            <img class="AvatarImage" height="300" width="300" title="Change" src="@Url.Action("Get", "Image", new {id=Model.ImageAvatarId })"
                 onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SharedProfile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SharedProfile)
        </dd>

    </dl>
</div>



