@model MVC.Models.PostModel

@{
    ViewBag.Title = "CreatePost";
}
    <style>
        .Img_Preview {
            max-height: 100px;
            max-width: 100px;
            border-radius: 5px;
        }
    </style>
<h2>CreatePost</h2>

<script>
    var imageIds = JSON.parse("@Json.Encode(Model.ImageIds)");
  
    function UploadImage(elem) {
        var url_t = "@Url.Action("Get", "Image")/";
        if (elem.files.length != 1) {
            alert("Select Files");
            return;
        }
        var fd = new FormData();
        fd.append("file", elem.files[0]);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Upload", "User")',
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (res) {
                        imageIds.push(res.ImageId);
                        $("#PicturesDiv").append("<img src='@Url.Action("Get", "Image")/" + res.ImageId + "'  class='Img_Preview'  data-image-id='" + res.ImageId + "'/>")
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    },
                    complete: function () {
                     //   $(".UploadLabel").html($(".UploadLabel").html());
                    }
                });
    }


    function SaveForm() {
        var post={
            "ImageIds": imageIds,
            "Description": $("#Description").val(),
            "Location": ymaps.geolocation.city,
            "Id": "@Model.Id",
        }
        $.post('@Url.Action("CreatePost")', post).done(function (res) {
            alert("Good")
        });
        console.log(post);
        
    }
</script>

<div id="PicturesDiv">
    @if (ViewBag.Images is List<int> Images)
    {
        foreach (var imgId in Images)
        {
            <img src="@Url.Action("Get", "Image")/@imgId" height="200" width="200" class="Img_Preview" data-image-id="@imgId" />
        }
    }
</div>

<div id="PictureUpload" class="UploadLabel">
    <input type="file" name="AvatarImage" onchange="UploadImage(this);" class="form-control" accept=".jpg,.png,.gif" />
</div>

<div class="form-horizontal PostForm">
    <h4>PostDTO</h4>
    <hr />
    @Html.HiddenFor(x => x.Id)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Create" onclick="SaveForm();" class="btn btn-default" />
        </div>
    </div>
</div>
