@model List<MVC.Models.PostModel>

@{
    ViewBag.Title = "Index";
}

    <style>
        .PostImage {
            max-height: 200px;
            max-width: 200px;
            border-radius: 5px;
            cursor: crosshair;
        }

        
        .text {
            text-align: center;
        }
   
</style>

<h2 class="text">Post Feed</h2>

<script>
    var commentsId = new Object();
    var hasMorePosts = true;

    function ShowTextArea(Id) {
        var str = "#" + "AddCommentForPost_" + Id;
      //  alert(Id);
        $(str).show();
    }

     function HideTextArea(Id) {
        var str = "#" + "AddCommentForPost_" + Id;
      //  alert(Id);
        $(str).hide();
    }


    function ViewComments(Id) {
        var str = "#" + "Comments" + Id;
       // alert(Id)
        $(str).show();
        var array = commentsId[Id]
        for (var elem in array) {
            var str = "@Url.Action("GetComment", "Post")/" + elem;
            $.post(str).done(function (res) {
            $(str).append("<p>" + res.String + "</p>")
        });

        }



    }
    function SaveComment(Id) {
        var selector = ".CommentfromPost_" + Id
        var text = $(selector).val();
        alert(text)
        alert(selector)
        var com={
            "commentText": text,
            "postId":Id
        }
        $.post('@Url.Action("AddComment")', com).done(function (res) {
            alert("Good")
            commentsId[Id].push(res.Result)
            HideTextArea(Id)
        });
        console.log(post);
    }

    function LoadComments(Id, postComments) {
        var comments = JSON.parse(postComments);
        commentsId[Id] = comments

    }

     function GetMorePosts() {
         var lastId = $(".PostDiv").last().data("id");
         alert(lastId);
        $.get('@Url.Action("GetMorePosts")/' + lastId).done(function (res) {
            if (Array.isArray(res)) {
                if (res.length == 0) {
                    hasMorePosts = false
                }
                else {
                    console.log(res);
                    for (var elem in res) {
                        console.log(elem);
                    var str =  "<p> Author - " + res[elem].Description + "</p>"
                    $(".Posts").append(str);
                    }
                    
                }
            }
        });
    }


</script>



<a class="glyphicon glyphicon-plus" href="/post/createpost"></a>

<div class="Posts">
    @foreach (var post in Model)
    {

        //@Html.HiddenFor(@post => @post.Id)
        <div class="PostDiv" data-id=@post.Id>
          
            <a class="glyphicon glyphicon-info-sign" href=@($"/post/getpost/{post.Id}")></a>
            <hr />

            @if (post.CanEdit) { 
            <a class="glyphicon glyphicon-edit" href=@($"/post/createpost/{post.Id}")></a>
            }
            <div>
                Location- @post.Location<br />
            </div>
            <div>
                @foreach (var imgId in post.ImageIds)
                {
                    <img class="PostImage" title="delete" src="@Url.Action("Get", "Image")/@imgId" />

                }
            </div>
            <div>
                Description - @post.Description<br />
                UserName -@post.UserName <br />
                UserId -@post.UserId
            </div>
            <button class="ViewCommentsButton" data-toogle="view" onclick="ViewComments(@post.Id.ToString())">ViewComments</button>
            <div id=@($"Comments{post.Id}") style="display:none">

            </div>

            <div class="AddCommentDiv" id=@($"AddCommentForPost_{post.Id}") style="display:none">
                <textarea class=@($"CommentfromPost_{post.Id}")></textarea>
                <button class="SendCommentText" onclick="SaveComment(@post.Id)">Send</button>
            </div>
            <input type="button" value="AddComment" onclick="ShowTextArea(@post.Id.ToString());" class="btn btn-default" />

            <hr />
        </div>
    }
</div>
<input type="button" value="GetMorePosts" onclick="GetMorePosts();" class="btn btn-default" />
